# ruby files
/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

# ext files
/ext/**/Makefile
/ext/**/*.o
/ext/**/*.bundle
/ext/**/*.log

# rspec failure tracking
.rspec_status

# llama models
/models/*
!/models/.gitkeep
