# ruby files
/.bundle/
/.yardoc
/*.gem
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

# ext files
/bin/llama

# rspec failure tracking
.rspec_status

# llama models
/models/*
!/models/.gitkeep
