# ruby files
/.bundle/
/.yardoc
/*.gem
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

# ext files
/ext/**/Makefile
/ext/**/*.o
/ext/**/*.bundle
/ext/**/*.log
/ext/**/*.cpp
/ext/**/*.c
/ext/**/*.h
!/ext/llama/model.cpp

# rspec failure tracking
.rspec_status

# llama models
/models/*
!/models/.gitkeep
